#header{
	background-color: #9a9f9e;
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
}

#header p{
	font: 250% david;
	line-height: 15%;
}

#header img{
	float:	left;
}

#header li{
	font-size: 180%;
	color: white;
	display: inline-block;
	width: 235px;
	text-align: center;
}

#header a{
	text-decoration: none;
	color: white;
}

#header a:hover{
	font-weight: bold;
}

#sidebar{
	margin: 10px;
	padding: 12px;
	border-radius: 5px;
	width: 25%;
	background-color: #9a9f9e;
	float: left;
}

#sidebar p{
	line-height: 175%;
	font-size: 130%;
}

#sidebar p img{
	float: left;
	padding: 7px;
}

#content{
	width: 70%;
	text-align: center;
	float: left;
}

body{
	text-align: center;
	float: left;
}

#footer{
	clear: left;
	padding: 5px;
	width: 100%;
	background-color: #9a9f9e;
	text-align: center;
	font-size: 50%
}

#top{
	width: 99.8%;
	border: 2px solid black;
}

#tag{
	width: 32.98%;
	float: left;
	border: 2px solid black;
}

#conchart{
	width: 32.98%;
	height: 175px;
	float: left;
	border: 2px solid black;
}

#conchart p{
	line-height: 25px
}

h2, p, li{
	font-size: 150%;
}

h1{
	font-size: 200%
}

p{
	line-height: 40px;
}

#spacer{
	height: 100px;
}

#spacerf{
	height: 75px;
}

#content ul{
	text-align: left;
}